/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@require '~vuepress-plugin-tabs/dist/themes/default.styl'

.home .hero img
  max-width 450px!important


.theme-default-content {
  font-weight 300
}

.sidebar {
  background-color #0174C7
  color white
}

a.sidebar-link {
  color white !important
}

p.sidebar-heading {
  color white !important
}

.home ul {
  color: #62666e
}

.home .features .feature .action-button {
  display: inline-block;
  font-size: 1.2rem;
  color: #fff;
  background-color: #0174c7;
  padding: .4rem .8rem;
  border-radius: 4px;
  transition: background-color .1s ease;
  box-sizing: border-box;
  border-bottom: 1px solid #0168b3;
}
